body{
    background-color: rgb(47, 143, 228);
}
h1{
    color: white;
    text-align: center;
}
p{
    color: black;
    text-align: center;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
